.lie{
	width: 106px;
	height: 30px;
}
/*#table{
	border-collapse: collapse;
	border-spacing: 0;
}
#table thead tr{
	display: block;
}
#table thead{
	border-radius: 10px;
}
#table tbody tr{	
	display: block;
	table-layout: fixed;
}
#table tbody {
	display:block;
	height:304px;
	overflow-y:auto;
}*/