<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/static/css/manage.css" />
	</head>
	<body>
		<table rules="rows" border="0px" cellpadding="0" class="table">
			<thead>
				<tr>
			        <th class="lie"><center>课程编号</center></th>
			        <th class="lie"><center>课程名称</center></th>
			        <th class="lie"><center>任课老师</center></th>
			        <th class="lie"><center>课程学分</center></th>
			        <th class="lie"><center>开课院系</center></th>
			        <th class="lie"><center>课程简介</center></th>
			        <th class="lie"><center>操作</center></th>
		        </tr>
		    </thead>
		    <tbody>
		    	<tr>
			        <td class="lie"><center>row 1, cell 1</center></td>
			        <td class="lie"><center>row 1, cell 1</center></td>
			        <td class="lie"><center>row 1, cell 1</center></td>
			        <td class="lie"><center>row 1, cell 1</center></td>
			        <td class="lie"><center>row 1, cell 1</center></td>
			        <td class="lie"><center>row 1, cell 1</center></td>
			        <td class="lie"><center>row 1, cell 1</center></td>
			        
			    </tr>
			    <tr>
			        <td class="lie"><center>row 2, cell 1</center></td>
			        <td class="lie"><center>row 2, cell 1</center></td>
			        <td class="lie"><center>row 2, cell 1</center></td>
			        <td class="lie"><center>row 2, cell 1</center></td>
			        <td class="lie"><center>row 2, cell 1</center></td>
			        <td class="lie"><center>row 2, cell 1</center></td>
			        <td class="lie"><center>row 2, cell 1</center></td>
			    </tr>
		    </tbody>
		</table>
	</body>
</html>
