<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link href="/static/img/1.ico" rel="shortcut icon" />
		<link rel="stylesheet" href="/static/css/page1.css" />
	</head>
	<body>
		<div class="topimg">
			<font color="white" class="topfont">教学管理系统</font>
		</div>
		<div class="leftimg">
			<a href="/page10/" class="leftfont" target="mid"><div class="col"><font color="white">课程管理</font></div></a>
			<a href="/page10/" class="leftfont" target="mid"><div class="col"><font color="white">成绩管理</font></div></a>
			<a href="/page10/" class="leftfont" target="mid"><div class="col"><font color="white">教学管理</font></div></a>
			<a href="/page10/" class="leftfont" target="mid"><div class="col"><font color="white">学生信息查询</font></div></a>
			<a href="/page10/" class="leftfont" target="mid"><div class="col"><font color="white">学生课程查询</font></div></a>
			<a href="/page10/" class="leftfont" target="mid"><div class="col"><font color="white">个人信息管理</font></div></a>
		</div>
		<div class="midimg">
			<iframe src="/page10/" name="mid" class="miding" scrolling="no" frameborder="0" style="width:100%;height:100%;">
			</iframe>					
		</div>
	</body>
	<script type="text/javascript" src="/static/js/canvas-nest..min.js"></script>
</html>